p
{
color: maroon;
}
h1, h2
{
color: gray;
border-bottom: 1px solid black;
border-bottom-color: #000000;
}
body
{
font-family: sans-serif;
}
em
{
font-family:sans-serif;
}
.greentea
{
color:green;
}
.raspberry
{
color:#87ceeb;
}
.blueberry
{
color:#9370db;
}
.cranberry
{
color:maroon;
}